# Xcode
#
# gitignore contributors: scroll down to GitHub and 
# libraries section for commonly used library managers

## Build results
build/
DerivedData/
build_sim/
*.[oa]
*.o
*.a
*.dylib
*.swiftmodule
*.swiftdoc
*.abi.json
*.swiftsourceinfo

## Project settings
xcuserdata/
*.mode1v3
*.mode2v3
*.perspectivev3
!default.mode1v3
!default.mode2v3
!default.perspectivev3
*.xcuserstate

## Schemes
## Build history
*.xcbkptlist
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

## Crash logs
*.crash

## iOS Simulator
*.session
*.mobileprovision

## OS X
.DS_Store

## Swift Package Manager
.build/
.swiftpm/

## Log files
logs.txt
sim_logs.txt
*.log

## App Specific
Workout/build/
Workout/build_sim/
Workout/logs.txt
Workout/sim_logs.txt
